body {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2;
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0px 5px 10px rgba(0, 0, 0, 0.2) inset;
}
p {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}
.buttons {
  text-align: center;
  padding: 1.5rem;
}
button {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: rgb(124, 124, 172);
  transition: all 0.5s ease;
  border-radius: 10px;
  border: none;
}
button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #f44336;
}
#paper {
  background-color: #2196f3;
}
#scissors {
  background-color: #4caf50;
}
#user-score {
  color: blue;
}
#computer-score {
  color: red;
}
