* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(107, 107, 221);
}
.container {
  min-height: 100vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 10px;
}
.title {
  text-align: center;
  background: rgb(110, 110, 210);
  font-weight: 900;
  margin: 10px;
  padding: 5px;
}
p {
  font-weight: 900;
  padding: 5px;
}
button {
  background-color: blue;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 9px;
  border-radius: 7px;
  outline: none;
  transition: all 0.5s ease-in;
}
button:hover {
  background-color: black;
  color: white;
}
.addItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
input[type="text"] {
  height: 35px;
  width: 100%;
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.tasks {
  min-width: 90%;
}
.tasks li {
  list-style: none;
}
.task {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(101, 215, 196);
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
}
